<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <targets async="true">
    <target name="fileDebug" xsi:type="File" fileName="${logDirectory}/debug.txt" />
    <target name="fileInfo" xsi:type="File" fileName="${logDirectory}/info.txt" />
    <target name="fileErrors" xsi:type="File" fileName="${logDirectory}/error.txt" />
    <target name="fileFatal" xsi:type="File" fileName="${logDirectory}/fatal.txt" />
    <!--<target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>-->
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="fileDebug" />
    <logger name="*" level="Debug" writeTo="fileDebug" />
    <logger name="*" level="Info" writeTo="fileInfo" />
    <logger name="*" level="Warn" writeTo="fileInfo" />
    <logger name="*" level="Error" writeTo="fileErrors" />
    <logger name="*" minlevel="Fatal" writeTo="fileFatal" />
  </rules>
</nlog>